@import url("https://fonts.googleapis.com/css2?family=Genos&family=Marcellus&display=swap");

@mixin animate(
  $animation,
  $duration,
  $times,
  $delay,
  $count,
  $direction,
  $fill
) {
  animation: $animation $duration $times $delay $count $direction $fill;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body,
html {
  font-family: "Genos", sans-serif;
  font-size: 12px;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: black;
  color: white;
  z-index: 1;
  h1 {
    position: absolute;
    min-width: 100vw;
    left: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.navigationPanel {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  bottom: 0;
  background-color: black;
  color: white;
  z-index: 1;
  ul {
    list-style-type: none;
    li {
      a {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        font-size: 1.7rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        border-left: 0px solid white;
        transition: 0.2s linear;
        &.active {
          border-left: 15px solid white;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}

.logoContainer {
  margin: 30px auto;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  .logo {
    width: 100%;
  }
}

.errorPage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  img {
    width: 50%;
  }
  h1 {
    margin: 20px 0;
  }
  a {
    border: 1px black solid;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
  }
}

.navigationBtn {
  position: relative;
  z-index: 2;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.navigationCloseBtn {
  position: absolute;
  right: 15px;
  top: 13px;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border: none;
}

.pageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  .appLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  .teamContainer {
    margin: 0 auto;
    width: 90%;
    .teamHeaderContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .buttonsContainer {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        .overallHomeAwayBtn {
          border: 1px black solid;
          background-color: transparent;
          text-transform: uppercase;
          padding: 5px 10px;
        }
        .active {
          background-color: black;
          color: white;
        }
      }
      .teamDetails {
        width: 100%;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
  .teamSquadContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    .teamSquadPositions {
      margin: 20px 0;
      box-shadow: 0px 0px 8px 3px black;
    }
    h3 {
      text-align: center;
      background-color: black;
      color: white;
      line-height: 30px;
      border-bottom: 1px solid grey;
    }
  }
  .playerContainer {
    margin: 0 auto;
    width: 90%;
    .playerHeaderContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        box-shadow: 0px 0px 8px 3px black;
        width: 150px;
        height: 150px;
      }
    }
  }

  .tabelContainer {
    margin: 20px auto;
    width: 90%;
    box-shadow: 0px 0px 8px 3px black;
    display: flex;
    flex-direction: column;
    .tabelHeader {
      line-height: 20px;
      background-color: black;
      color: white;
      .yellow {
        color: yellow;
      }
      .red {
        color: red;
      }
    }
    .tabelRow {
      display: flex;
      align-items: center;
      padding: 5px 2px;
      border-bottom: 1px solid grey;
      justify-content: space-between;
      .leaguePosition {
        color: white;
      }
    }
    .teamName {
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      .teamNameLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
      }
      .teamLogo {
        margin-right: 5px;
        height: 20px;
      }
    }
    .playerName {
      width: 100%;
      text-align: left;
      .playerNameLink {
        text-decoration: none;
        color: black;
      }
    }
    .leagueTabelDiv {
      min-width: 25px;
    }
    div {
      min-width: 36px;
      text-align: center;
      padding: 1px;
    }
  }
}

.tabelLegendContainer {
  margin: 20px;
  .legendRow {
    margin: 5px 0;
    display: flex;
    span {
      margin-left: 10px;
    }
  }
}
.legendSquare {
  width: 25px;
  min-height: 17px;
}
.promotion {
  background-color: #004682;
}
.promotionPlayOffs {
  background-color: #1ea8ec;
}
.relegationPlayOffs {
  background-color: #bd0000;
}
.relegation {
  background-color: #ff4141;
}
.stay {
  background-color: #4e4e4e;
}

.hide {
  @include keyframes(hidePanel) {
    0% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
    100% {
      left: -70%;
      box-shadow: none;
    }
  }
  @include animate(hidePanel, 0.3s, linear, 0s, 1, normal, forwards);
}

.show {
  @include keyframes(showPanel) {
    0% {
      left: -70%;
      box-shadow: none;
    }
    100% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
  }
  @include animate(showPanel, 0.3s, linear, 0s, 1, normal, forwards);
}
