@import url("https://fonts.googleapis.com/css2?family=Genos&family=Marcellus&display=swap");

@mixin animate(
  $animation,
  $duration,
  $times,
  $delay,
  $count,
  $direction,
  $fill
) {
  animation: $animation $duration $times $delay $count $direction $fill;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body,
html {
  font-family: "Genos", sans-serif;
  font-size: 12px;
  @media (min-width: 576px) {
    font-size: 13px;
  }
  @media (min-width: 768px) {
    font-size: 14px;
  }
  @media (min-width: 992px) {
    font-size: 15px;
  }
  @media (min-width: 1200px) {
    font-size: 16px;
  }
  @media (min-width: 1400px) {
    font-size: 17px;
  }
}

.container {
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 320px;
  .startContainer {
    padding: 60px 0 0;
    align-items: center;
    display: flex;
    justify-content: space-around;
    @media (min-width: 992px) {
      padding: 120px 0 0;
    }
    .leagueButton {
      display: none;
      text-decoration: none;
      color: black;
      text-align: center;
      img {
        width: 150px;
      }
      @media (min-width: 992px) {
        display: block;
        transition: 0.2s linear;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  min-width: 320px;
  background-color: black;
  color: white;
  z-index: 1;
  @media (min-width: 992px) {
    min-height: 100px;
  }
  h1 {
    position: absolute;
    width: 100vw;
    min-width: 320px;
    left: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.navigationPanel {
  position: fixed;
  top: 0;
  left: -224px;
  width: 224px;
  height: 100%;
  min-height: 320px;
  min-width: 224px;
  background-color: black;
  color: white;
  z-index: 1;
  overflow: auto;
  @media (min-height: 320px) {
    overflow: hidden;
  }
  @media (min-width: 576px) {
    left: -350px;
    width: 350px;
  }
  ul {
    list-style-type: none;
    min-height: 320px;
    li {
      a {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        font-size: 1.7rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        border-left: 0px solid white;
        transition: 0.2s linear;
        @media (min-width: 992px) {
          cursor: pointer;
          &:hover {
            border-left: 15px solid white;
          }
        }
        &.active {
          border-left: 15px solid white;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}

.logoContainer {
  margin: 30px auto;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  .logo {
    width: 100%;
  }
}

.errorPage {
  width: 100%;
  min-width: 320px;
  min-height: 320px;
  text-align: center;
  margin: 0 auto;
  img {
    width: 25%;
  }
  h1 {
    margin: 20px 0;
    padding: 0 20px;
  }
  a {
    border: 1px black solid;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
  }
}

.navigationBtn {
  position: relative;
  z-index: 2;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  transition: 0.2s;
  @media (min-width: 992px) {
    cursor: pointer;
    margin: 0 20px;
    &:hover {
      transform: scale(1.1);
    }
    &:disabled {
      &:hover {
        transform: scale(1);
        cursor: default;
      }
    }
  }
}

.navigationCloseBtn {
  position: absolute;
  right: 15px;
  top: 13px;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border: none;
  transition: 0.2s;
  @media (min-width: 992px) {
    right: 30px;
    top: 30px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.pageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 320px;
  padding: 60px 0;
  @media (min-width: 992px) {
    padding: 120px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  .appLogo {
    display: block;
    width: 200px;
    @media (orientation: portrait) {
      margin-top: 100px;
    }
    @media (min-width: 576px) {
      width: 250px;
    }
    @media (min-width: 768px) {
      width: 300px;
    }
    @media (min-width: 992px) {
      width: 400px;
    }
    @media (min-width: 1200px) {
      width: 500px;
    }
    @media (min-width: 1400px) {
      width: 600px;
    }
  }
  .teamContainer {
    margin: 0 auto;
    width: 90%;
    @media (min-width: 992px) {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    .teamHeaderContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 992px) {
        min-width: 440px;
      }
      img {
        @media (min-width: 992px) {
          width: 200px;
        }
      }
      .buttonsContainer {
        width: 90%;
        max-width: 440px;
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
        @media (min-width: 992px) {
          width: 100%;
        }
        .overallHomeAwayBtn {
          border: 1px black solid;
          background-color: transparent;
          text-transform: uppercase;
          padding: 5px 10px;
          transition: 0.2s;
          @media (min-width: 992px) {
            cursor: pointer;
            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
        .active {
          background-color: black;
          color: white;
        }
      }
      .teamDetails {
        width: 100%;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
  .teamSquadContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      margin: 20px 0;
      min-width: 440px;
    }
    .teamSquadPositions {
      margin: 20px 0;
      box-shadow: 0px 0px 8px 3px black;
    }
    h3 {
      text-align: center;
      background-color: black;
      color: white;
      line-height: 30px;
      border-bottom: 1px solid grey;
    }
  }
  .playerContainer {
    margin: 0 auto;
    width: 90%;
    max-width: 440px;
    .playerHeaderContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        box-shadow: 0px 0px 8px 3px black;
        width: 150px;
        height: 150px;
      }
    }
  }

  .leagueTabelContainer {
    @media (min-width: 992px) {
      min-width: 440px;
    }
  }

  .tabelContainer {
    margin: 20px auto;
    width: 90%;
    max-width: 440px;
    box-shadow: 0px 0px 8px 3px black;
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
      margin: 20px 0;
      width: 100%;
    }
    .tabelHeader {
      line-height: 20px;
      background-color: black;
      color: white;
      .yellow {
        color: yellow;
      }
      .red {
        color: red;
      }
    }
    .tabelRow {
      display: flex;
      align-items: center;
      padding: 5px 2px;
      border-bottom: 1px solid grey;
      justify-content: space-between;
      .leaguePosition {
        color: white;
      }
    }
    .teamName {
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      .teamNameLink {
        width: 100%;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        &:hover {
          font-weight: bold;
        }
      }
      .teamLogo {
        margin-right: 5px;
        height: 20px;
      }
    }
    .playerName {
      width: 100%;
      text-align: left;
      .playerNameLink {
        text-decoration: none;
        color: black;
        &:hover {
          font-weight: bold;
        }
      }
    }
    .leagueTabelDiv {
      min-width: 25px;
      @media (min-width: 576px) {
        min-width: 35px;
      }
    }
    div {
      min-width: 36px;
      text-align: center;
      padding: 1px;
      @media (min-width: 576px) {
        min-width: 46px;
      }
    }
  }
}

.tabelLegendContainer {
  width: 90%;
  max-width: 440px;
  margin: 20px auto;
  @media (min-width: 992px) {
    margin: 20px 0;
    width: 100%;
  }
  .legendRow {
    margin: 5px 0;
    display: flex;
    span {
      margin-left: 10px;
    }
  }
}
.legendSquare {
  width: 25px;
  min-height: 17px;
}
.promotion {
  background-color: #004682;
}
.promotionPlayOffs {
  background-color: #1ea8ec;
}
.relegationPlayOffs {
  background-color: #bd0000;
}
.relegation {
  background-color: #ff4141;
}
.stay {
  background-color: #4e4e4e;
}

.hide {
  @include keyframes(hidePanel) {
    0% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
    100% {
      left: -224px;
      box-shadow: none;
    }
  }
  @include animate(hidePanel, 0.3s, linear, 0s, 1, normal, forwards);
  @media (min-width: 576px) {
    @include keyframes(hidePanel) {
      0% {
        left: 0;
        box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
      }
      100% {
        left: -350px;
        box-shadow: none;
      }
    }
    @include animate(hidePanel, 0.3s, linear, 0s, 1, normal, forwards);
  }
}

.show {
  @include keyframes(showPanel) {
    0% {
      left: -224px;
      box-shadow: none;
    }
    100% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
  }
  @include animate(showPanel, 0.3s, linear, 0s, 1, normal, forwards);
  @media (min-width: 576px) {
    @include keyframes(showPanel) {
      0% {
        left: -350px;
        box-shadow: none;
      }
      100% {
        left: 0;
        box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
      }
    }
    @include animate(showPanel, 0.3s, linear, 0s, 1, normal, forwards);
  }
}
