@mixin animate(
  $animation,
  $duration,
  $times,
  $delay,
  $count,
  $direction,
  $fill
) {
  animation: $animation $duration $times $delay $count $direction $fill;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  background-color: black;
  color: white;
  z-index: 1;
  h1 {
    position: absolute;
    min-width: 100vw;
    left: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.navigationPanel {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  bottom: 0;
  background-color: black;
  color: white;
  z-index: 1;
  ul {
    list-style-type: none;
    li {
      a {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        font-size: 1.7rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
        border-left: 0px solid white;
        transition: 0.2s linear;
        &.active {
          border-left: 15px solid white;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}

.logoContainer {
  margin: 30px auto;
  width: 100px;
  padding: 20px;
  border-radius: 50%;
  background-color: white;
  .logo {
    width: 100%;
  }
}

.navigationBtn {
  position: relative;
  z-index: 2;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.navigationCloseBtn {
  position: absolute;
  right: 15px;
  top: 13px;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  border: none;
}

.pageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  .appLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
}

.leagueTabelContainer {
  margin: 80px auto;
  width: 90%;
  box-shadow: 0px 0px 8px 3px black;
  display: flex;
  flex-direction: column;
  .tabelHeader {
    line-height: 20px;
    background-color: red;
    color: white;
  }
  .tabelTeamRow {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
    .teamName {
      display: flex;
      align-items: center;
      flex-grow: 1;
      text-align: left;
      .teamLogo {
        margin-right: 5px;
        height: 20px;
      }
    }
    div {
      min-width: 25px;
      text-align: center;
      padding: 2px;
    }
  }
}

.topScorersTabelContainer {
  margin: 80px auto;
  width: 90%;
  box-shadow: 0px 0px 8px 3px black;
  display: flex;
  flex-direction: column;
  .topScorersHeader {
    line-height: 20px;
    background-color: red;
    color: white;
  }
  .topScorersPlayerRow {
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 1px solid grey;
    .playerName {
      flex-grow: 1;
      text-align: left;
    }
    .teamName {
      min-width: 30%;
      text-align: left;
    }
    div {
      min-width: 25px;
      text-align: center;
      padding: 2px;
    }
  }
}

.hide {
  @include keyframes(hidePanel) {
    0% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
    100% {
      left: -70%;
      box-shadow: none;
    }
  }
  @include animate(hidePanel, 0.3s, linear, 0s, 1, normal, forwards);
}

.show {
  @include keyframes(showPanel) {
    0% {
      left: -70%;
      box-shadow: none;
    }
    100% {
      left: 0;
      box-shadow: 9px 15px 8px -4px rgba(0, 0, 0, 1);
    }
  }
  @include animate(showPanel, 0.3s, linear, 0s, 1, normal, forwards);
}
